.All-items-nav{
    width: 100%;
    height: 100px;
    margin-top: -30px;
    background-color: brown;
}

.Cart_items{
   margin-left: 85%;
    margin-top: 30px;
    font-size: 30px;
  
}
.Icons_cart{
margin-left: 8px;
margin-bottom: -3px;
}










